
@media only screen and (min-width: 992px) and (max-width: 1200px) {}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav > li > a {
        padding: 10px;
    }
    .welcome-text h1 {
        font-size: 33px;
    }
    .section-padding {
        padding: 35px 0;
    }
    .testimonial-area.section-padding {
        padding: 30px 0 60px;
    }
    .banner-area {
        height: 600px;
    }
    .welcome-text {
        padding-top: 190px;
    }
    .about-left h4 {
        font-size: 19px;
    }

}


